"# Environment" 
".env" 
"" 
"# Virtual environment" 
"venv/" 
"env/" 
"" 
"# Python" 
"__pycache__/" 
"*.pyc" 
"*.pyo" 
"" 
"# MLflow" 
"mlruns/" 
"" 
"# Data & Models" 
"data/*.csv" 
"models/*.pkl" 
